tree_sitter==0.20.4
tree_sitter_languages==1.10.2

tqdm==4.66.4
rich==13.7.1
orjson==3.10.3
pandas==2.2.2


transformers==4.51.0
torch
tokenizers
sentencepiece
huggingface_hub

chonkie
unstructured
pdfminer.six
python-magic
Pillow
pytesseract

chardet>=5.0.0

PyPDF2>=3.0.0

python-docx>=0.8.11

odfpy>=1.4.1

openpyxl>=3.0.9

python-pptx>=0.6.21

striprtf>=0.0.26

beautifulsoup4>=4.11.0

markdown>=3.4.0
